<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
  </head>
  <body>
    <div class="container">
        <!--Data or Content-->
        <div class="box-1">
            <div class="content-holder">
                <h2> Welcome </h2>
                <button class="button-1" onclick="signup()">Sign up</button>
                <button class="button-2" onclick="login()">Login</button>
            </div>
        </div>
  
        <!--Forms-->
        <div class="box-2">
            <div class="login-form-container">
                  <form id="login-form" action="/login" method="post">
                    <h1>Login Form</h1>
                    <input id="logInEmail" name="email" type="email" placeholder="Email" class="input-field" >
                    <br><br>
                    <input id="logInPassword" name="password"  type="password" placeholder="Password" class="input-field" >
                    <br><br>
                    <input class="login-button" type="submit" value="Log In"></input>
                  </form>  
            </div>
  
            <!--Create Container for Signup form-->
        <div class="signup-form-container" >
            <form id="form" action="/register" method="post">
                <h1>Sign Up Form</h1>
                <input id="email" name="email" type="email" placeholder="Email" class="input-field">
                <br><br>
                <input id="password" name="password" type="password" placeholder="Password" class="input-field">
                <br><br>
                <input id="confirmPassword" name="cpassword" type="password" placeholder="Confirm Password" class="input-field">
                <br><br>
                <input class="signup-button" type="submit" value="Sign up" ></input>
            </form>
        </div>
    </div>
  </body>
  <script>
            function signup() {
        document.querySelector(".login-form-container").style.cssText =
            "display: none;";
        document.querySelector(".signup-form-container").style.cssText =
            "display: block;";
        document.querySelector(".container").style.cssText =
            "background: linear-gradient(to bottom, rgb(56, 189, 149),  rgb(28, 139, 106));";
        document.querySelector(".button-1").style.cssText = "display: none";
        document.querySelector(".button-2").style.cssText = "display: block";
        }

        function login() {
        document.querySelector(".signup-form-container").style.cssText =
            "display: none;";
        document.querySelector(".login-form-container").style.cssText =
            "display: block;";
        document.querySelector(".container").style.cssText =
            "background: linear-gradient(to bottom, rgb(6, 108, 224),  rgb(14, 48, 122));";
        document.querySelector(".button-2").style.cssText = "display: none";
        document.querySelector(".button-1").style.cssText = "display: block";
        }
  </script>
</html>